body {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

header {
  font-family: 'Cormorant Garamond', serif;
  background-color: white;
  color: #a34343;
  padding: 2em;
  text-align: center;
}

main {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: white;
  margin-top: 2em;
}

main a {
  color: #056156;     
  text-decoration: none;
  font-weight: bold;
}

strong, b {
  color: #a34343;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}