body {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

.about-content {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
}

.profile-pic {
  max-width: 40px; 
  width: 100%;
  height: auto;
  border-radius: 10px;
}

header {
  font-family: 'Cormorant Garamond', serif;
  background-color: white;
  color: #a34343;
  padding: 2em;
  text-align: center;
}

main {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: white;
  margin-top: 2em;
}

main a {
  color: #056156;     
  text-decoration: none;
  font-weight: bold;
}

strong, b {
  color: #a34343;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1em 0;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.8em;
  z-index: 1000;
}

nav a {
  color: #056156;        
  text-decoration: none;
  margin: 0 1em;
  padding: 0.3em 0.6em;
  font-weight: normal;
  transition: color 0.3s ease;
}

nav a:visited {
  color: #056156;         
}

nav a:hover {
  color: #333;
  text-decoration: underline;
}
